body {
  height: 100vh;
  overflow: hidden;
}

.index-circle {
  top: -450px;
  left: 380px;
  height: 1300px;
  width: 1300px;
}

/* MAIN */

.name-intro-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 300px;
  text-align: center;
}

.intro-name-text {
  color: #ffffff;
  font-weight: 800;
  font-size: 64px;
  letter-spacing: 10px;
  margin-bottom: 24px;
}

.intro-desc-text {
  margin: auto;
  width: 516px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1.83px;
  line-height: 36px;
}

.view-work-container {
  margin: auto;
  width: 260px;
  margin-top: 36px;
}

.view-work-container:hover .view-work-text {
  transform: translateX(10px) translateY(-3px);
}

.view-work-container:hover img {
  transform: translateX(24px);
}


.view-work-container img {
  display: inline-block;
  height: 22px;
  margin-right: 36px;
  transition: all 0.3s ease;
}

.view-work-text {
  display: inline-block;
  color: var(--main-orange-color);
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.83px;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

/* SOCIAL MEDIA ICONS */

.sc-icons-container {
  position: absolute;
  bottom: var(--outer-margin);
  left: var(--outer-margin);
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  background-color: var(--background-color);
  font-size: 28px;
  text-align: center;
  margin-top: 24px;
  transition: all 0.3s ease;
}

.icon:hover {
  color: var(--main-orange-color);
}

/* DEVELOPED BY */

.developed-by-container {
  position: absolute;
  bottom: var(--outer-margin);
  right: var(--outer-margin);
  color: var(--grey-color);
  font-weight: 300;
  letter-spacing: 0.8px;
  font-size: 16px;
}

/* Small Screens (Phones) */

@media (max-width: 767px) {

  .index-circle {
    top: -50px;
    left: 80px;
    height: 500px;
    width: 500px;
  }

  .name-intro-container {
    width: 90vw;
    margin: auto var(--outer-margin);
    text-align: left;
  }

  .intro-name-text {
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 24px;
  }

  .intro-desc-text {
    width: 100%;
  }

  .view-work-container {
    width: 100%;
  }

  .icon {
    display: inline-block;
    margin-top: 0px;
    margin-right: 12px;
  }

  .developed-by-container {
    display: none;
  }
}